body {
    padding: 0;
    margin: 0;
}

div.siteHeader {
    background-color: #0099ff;
    padding: 0.5em;
    color: #ffffff;
    font-family: sans-serif, helvetica, arial;
    font-size: 2em;
    font-weight: normal;
}
